<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Eden's Rush{% endblock %}</title>
    {% block stylesheets %}
        <style type="text/css">
            @font-face {
                font-family: "Stratum No1";
                src: url({{asset('asset/fonts/stratumno1.ttf')}});
            }
            .navbar{
                font-family: "Stratum No1", sans-serif;

            }
            #background_top{
                background-image: url({{ asset('asset/img/fond_top.png')}});
                background-repeat: no-repeat;
                background-size: 100%;
                padding-top: 2%;

            }
            #background_bot{
                background-image: url({{ asset('asset/img/fond_bottom.png')}});
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: bottom;
                padding-bottom: 30px;
            }
        </style>
        <link rel="stylesheet" href="{{ asset('asset/css/accueil.css') }}" type="text/css" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block header %}
    <div id="background_top">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('index') }}" class="navbar-brand"><img id="logo_ed" src="{{ asset('asset/img/logo2.png') }}"></a>
                </div>
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-6" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('regle') }}">REGLE</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('profil') }}">PROFIL</a></li>
                        {% endif %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.getisBan == 'off' %}
                            <li><a href="{{ path('nouvelle_partie') }}">JOUER</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin') }}">ADMIN</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <li><a href="{{ path('security_logout') }}">DECONNEXION</a></li>
                        {% else %}
                            <li><a href="{{ path('security_login') }}">CONNEXION</a></li>
                        {% endif %}
                        <li><a href="{{ path('user_registration') }}">INSCRIPTION</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="titre_page_cont">
            <p id="titre_accueil">ACCUEIL</p>
            <img id="logo_titre" src="{{ asset('asset/img/logo2.png') }}">
        </div>
    </div>
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
    <div>
    <div class="container">
        <hr class="hr_accueil">
    </div>
    <div id="background_bot">

        <div id="footer_page_cont">
            <img id="logo_footer" src="{{ asset('asset/img/logonwaaar.png') }}">
            <p id="copyright">©2018 BananaGames. Tous droit réservés. Condition d'utilisation - Politique de confidentialité - Conditions générales de vente - Mention légales</p>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>
